#root {
  table {
    margin-top: 20px;
    border: solid 1px #DDD;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 14px Arial, sans-serif;
  }
  table thead th {
    background-color: #DDD;
    border: solid 1px #DDD;
    color: #333;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
  }
  table tbody td {
    border: solid 1px #DDD;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
  }
}

#root > div > div > div {
  border: none !important;
}

#story-root {
  padding: 0px 40px;
}
